{% load static %}

<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topheader" style="background-color:#ffffff;" id="top">
    <div class="fix-width">
      <nav class="navbar navbar-expand-md navbar-light p-l-0">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Logo will be here -->
        <a class="navbar-brand" href="https://www.sp.edu.sg"><img width="80%" height="80%" src="/media/web-defaults/sp-logo.png"
            alt="admin template" class="dark-logo"/></a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto stylish-nav">
            <li class="nav-item">
              <a href="/" id="btn-add-contact" class="btn btn-danger"><i class="mdi mdi-arrow-left font-16 mr-1"></i> Back to Main</a>
           </li>
          </ul>
        </div>

      </nav>
    </div>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->