{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
  <h1 id="head">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="{% url 'index' %}" class="navbar-brand logo">
        <img src="/media/web-defaults/sp-logo-dark.png" class="img-fluid" alt="Logo"> Administration
      </a>
    </div>

  </h1>
{% endblock %}

{% block extrastyle %}
  <style>

    @font-face {
      font-family: TTCommons-Bold;
      src: url(../../assets/fonts/tt-commons/TTF/TTCommons-Bold.ttf);
    }
    
    @font-face {
      font-family: TTCommons-medium;
      src: url(../../assets/fonts/tt-commons/TTF/TTCommons-Medium.ttf);
    }
    
    @font-face {
      font-family: TTCommons-regular;
      src: url(../../assets/fonts/tt-commons/TTF/TTCommons-Regular.ttf);
    }

    body {
     font-family: "TTCommons-regular", "Rubik", sans-serif;
    }

    h1,
    h2
    {
      color: #000000;
      font-family: "TTCommons-bold", "Rubik", sans-serif;
      font-weight: 400; }

    h3,
    h4 {
      color: #000000;
      font-family: "TTCommons-medium", "Rubik", sans-serif;
      font-weight: 400; }

    h5,
    h6 {
      color: #000000;
      font-family: "TTCommons-regular", "Rubik", sans-serif;
      font-weight: 400; }

    td, th {
      font-size: 13px;
      line-height: 16px;
      border-bottom: 1px solid #eee;
      vertical-align: top;
      padding: 8px;
      font-family: "TTCommons-regular", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }

    #header {
      width: auto;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      background: #000000;
      color: #ffc;
      overflow: hidden;
    }
  </style>
{% endblock %}