[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/eventmicro
ExecStart=/home/ubuntu/eventmicro/_venv_/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          webapp.wsgi:application

[Install]
WantedBy=multi-user.target
