{% include 'partials/_alerts.html' %}
<form class="form" id="reg_form">
    {% csrf_token %}
    <input type="hidden" id="event_id" name="event_id" value="{{ event_id }}">
    <div class="form-group mt-4 row">
        <label for="example-text-input" class="col-md-3 col-form-label">First name:</label>
        <div class="col-md-9">
            <input class="form-control {% if err_fno == 2 %} is-invalid {% endif %}" placeholder="First name of prospective student" type="text" name="first_name" value="{{ values.first_name }}" id="first_name_id">
            <div class="invalid-feedback">
                Please provide prospective student's first name.
            </div>
        </div>
    </div>
    <div class="form-group mt-4 row">
        <label for="example-text-input" class="col-md-3 col-form-label">Last name:</label>
        <div class="col-md-9">
            <input class="form-control {% if err_fno == 3 %} is-invalid {% endif %}" placeholder="Last name of prospective student" type="text" name="last_name" value="{{ values.last_name }}">
            <div class="invalid-feedback">
                Please provide prospective student's last name.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-md-3 col-form-label">Email:</label>
        <div class="col-md-9">
            <input class="form-control {% if err_fno == 4 %} is-invalid {% endif %}" placeholder="email@domain.com" type="email" name="email" value="{{ values.email }}">
            <div class="invalid-feedback">Please provide valid email</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-md-3 col-form-label">Verify Email:</label>
        <div class="col-md-9">
            <input class="form-control {% if err_fno == 5 %} is-invalid {% endif %}" placeholder="email@domain.com" type="email" name="email_verify" value="{{ values.email_verify }}">
            <div class="invalid-feedback">Please confirm the email</div>
        </div>
    </div>
<!--
    <div class="form-group row">
        <label for="example-tel-input" class="col-md-3 col-form-label">Tel. No.:</label>
        <div class="col-md-9">
            <input class="form-control phone-singapore {% if err_fno == 6 %} is-invalid {% endif %}" type="text" name="phone" id="phone-singapore" placeholder="(+65)9999-9999" im-insert="true" value="{{ values.phone }}">
            <div class="invalid-feedback">Please provide valid phone number</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-tel-input" class="col-md-3 col-form-label">DOB:</label>
        <div class="col-md-9">
            <div class="input-group">
            <input class="form-control {% if err_fno == 7 %} is-invalid {% endif %}" id="mdate" placeholder="MM-DD-YYYY" name="dob" value="{{ values.dob }}">
            <div class="input-group-append">
                <span class="input-group-text"><i class="icon-calender"></i></span>
            </div> 
            <div class="invalid-feedback">Please select date</div>
            </div>
        </div>
    </div> 
    <div class="form-group row">
        <label for="example-month-input" class="col-md-3 col-form-label">Gender:</label>
        <div class="col-md-9">
            <select class="custom-select col-12 {% if err_fno == 8 %} is-invalid {% endif %}" id="inlineFormCustomSelect" name="gender">
                <option value="-">-</option>
                <option value="M" {% if values.gender == "M" %} selected {% endif %}>Male</option>
                <option value="F" {% if values.gender == "F" %} selected {% endif %}>Female</option>
            </select>
            <div class="invalid-feedback">Please select gender</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-month-input" class="col-md-3 col-form-label">Type of Participant:</label>
        <div class="col-md-9">
            <select class="custom-select col-12 {% if err_fno == 9 %} is-invalid {% endif %}" id="participant_type_id" name="participant_type" data-other="participant_other_id">
                <option value="0">-</option>
                <option value="1" {% if values.participant_type == "1" %} selected {% endif %}>Parent</option>
                <option value="2" {% if values.participant_type == "2" %} selected {% endif %}>O Level School Leaver</option>
                <option value="3" {% if values.participant_type == "3" %} selected {% endif %}>N Level School Leaver</option>
                <option value="4" {% if values.participant_type == "4" %} selected {% endif %}>ITE Graduate/Student</option>
                <option value="5" {% if values.participant_type == "5" %} selected {% endif %}>Secondary School Student (Level), School Teacher/Educator</option>
                <option value="100" {% if values.participant_type == "100" %} selected {% endif %}>Others</option>
            </select>
            <div class="invalid-feedback">Please select participant</div>
        </div>
    </div>
    <div class="form-group row {% if values.participant_type != '100' %} hide {% endif %}" id="participant_other_id">
        <label for="example-tel-input" class="col-md-3 col-form-label">Fill this if "Others" was selected above:</label>
        <div class="col-md-9">
            <textarea class="form-control" rows="2" name="participant_other" value="{{ values.participant_other }}">{{ values.participant_other }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-month-input" class="col-md-3 col-form-label">Number of Attendees:</label>
        <div class="col-md-9">
            <select class="custom-select col-12 {% if err_fno == 10 %} is-invalid {% endif %}" id="attendees_id" name="attendees">
                <option value="0">-</option>
                <option value="1" {% if values.attendees == "1" %} selected {% endif %}>1</option>
                <option value="2" {% if values.attendees == "2" %} selected {% endif %}>2</option>
                <option value="3" {% if values.attendees == "3" %} selected {% endif %}>3</option>
            </select>
            <div class="invalid-feedback">Please select number of attendees</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-month-input" class="col-md-3 col-form-label">Source of new about Info Session:</label>
        <div class="col-md-9">
            <select class="custom-select col-12" id="info_source_id" name="info_source" data-other="info_other_id">
                <option value="0">-</option>
                <option value="1" {% if values.info_source == "1" %} selected {% endif %}>Social Media</option>
                <option value="2" {% if values.info_source == "2" %} selected {% endif %}>Mailer from SP</option>
                <option value="100" {% if values.info_source == "100" %} selected {% endif %}>Others</option>
            </select>
        </div>
    </div>
    <div class="form-group row {% if values.info_source != '100' %} hide {% endif %}" id="info_other_id">
        <label for="example-tel-input hide" class="col-md-3 col-form-label">Fill this if "Others" was selected above:</label>
        <div class="col-md-9">
            <textarea class="form-control" rows="2" name="info_other" value="{{ values.info_other }}">{{ values.info_other }}</textarea>
        </div>
    </div>
    
-->

    {% if courses %}
    <div class="form-group row">
        <label for="example-tel-input" class="col-md-3 col-form-label">Would you like to attend a Q&A session for one of the following diplomas?</label>
        <div class="col-md-9">
            {% for course in courses %}
            <div>
                <input type="checkbox" name="course" id="course_check" value="{{ course.id }}" class="material-inputs chk-col-red course_check" 
                {% if course.id in course_ids %}
                    checked
                {% endif %}
                />
                <label for="course_check">{{ course.name }}</label>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3"></div>
        <div class="col-md-9 text-warning">
            <hr/>
            (The Q&A session will be held after the info Session via a Zoom chat. You will receive a link to the Q&A session via email. You may select more than one diploma.)
        </div>        
    </div>

    <div class="form-group row">
        <label for="example-tel-input" class="col-md-3 col-form-label">Pre-event Questions for Panel Q&A:</label>
        <div class="col-md-9">
            <textarea class="form-control" rows="5" name="inquiry" value="{{ values.inquiry }}">{{ values.inquiry }}</textarea>
        </div>
    </div>
    {% endif %}

</form>