<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Singapore Polytechnic Webinar</title>
</head>
<body style="margin: 0; padding: 0;">

<div style="padding: 10px 0 30px 0;font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
{% autoescape off %}

<pre style="font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
Hi {{ invite.name }},

Thank you for registering for Singapore Polytechnic (SP) Open House’s Live Info Session. 

You have selected to attend the info session for {{ invite.school }} on <b>{{ invite.date|date:'M d, Y'|upper}}</b> at <b>{{ invite.s_time }} ~ {{ invite.e_time }}</b>.

Below is the link to the Live Info Session. Click on the link at the given date and time.

{{ invite.link1 }}    

To add this session to your calendar, download the .ics file and import it into your calendar of choice. 

If you have trouble entering the Info Session using the link, the Info Session will also be livestreamed on our Open House microsite (openhouse.sp.edu.sg) at the given date and time.

<b>Q&A Breakout Session </b>

You have also selected to attend a Q&A breakout session for the following SP course : {{ session_type }}

</pre>

{% for invitation in course_invites %}
    {% if invitation.is_selected %}
    <b>{{ invitation.name }}</b> : 
    <br>
    {{ invitation.link }}
    <br>
    Here are other Q&A breakout sessions for other diplomas that you may be interested in;

    {% else %} 
    {{ invitation.name }} :
    <br>
    {{ invitation.link }}
    <br>
    {% endif %}

    <br>
{% endfor %}

<br>
If you have any queries regarding SP Open House 2021, please email us at schoolrelations@sp.edu.sg. 
<br>
For enquiries regarding our academic schools, please email contactus@sp.edu.sg.
<br>
Thank you and we look forward to you joining us at SP Open House 2021.

<br>
<br>
<hr>
SP Open House 2021 Organising Committee
<br>
<a href="https://www.sp.edu.sg">https://www.sp.edu.sg</a>


{% endautoescape %} 
</div>

</body>
</html>