{% extends 'partials/_base.html' %}

{% load static %}

{% block page_style %}
  <link href="{% static 'app/css/style2.css' %}" rel="stylesheet" />
  <style>
    .container-fluid {
      padding: 0 15px 0 15px;
    }

    .topheader {
      padding: 0px 0px;
      background: #ffffff;
    }

    .fix-width {
      width: 100%;
      max-width: 1600px;
      padding: 0 10px !important;
      margin: 0 15px !important;
    }

    .register_btn {
      margin: 20px 20px 20px 20px;
    }
  </style>
{% endblock %}

{% block content %}

<!-- <body class="fix-header"> -->
  
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <!-- ============================================================== -->
  <!-- End Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    {% include 'partials/_topbar_index.html' %}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
            <div class="row mb-3">
              <div class="col-md-12">
                  <img src="/media/web-defaults/banner.jpg" height="100%" width="100%" alt="First slide">
              </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-12">
                    <h1>
                        Welcome to <span class="text-danger">SP's Joint Admissions Excercise e-Course Counselling </span> page
                    </h1>
                    <h5>
                      Book a spot for a one-on-one chat with our academic staff to have your questions about our courses answered. Our staff will also be on hand to answer any question regarding admissions.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex align-items-stretch">
                    <!-- Card -->
                    <div class="card">
                        <img class="card-img-top img-fluid" src="/media/webinar/InfoSessionsFinal.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Schools Counselling</h2>
                            <p class="card-text">... to find out more about our courses from our academic schools.</p>
                        </div>
                        <div class="bg-light">
                          <a href="{% url 'schools' %}" class="btn btn-danger register_btn">ENTER</a>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <div class="col-md-3 d-flex align-items-stretch">
                  <!-- Card -->
                  <div class="card">
                      <img class="card-img-top img-fluid" src="/media/webinar/GuidanceCounsellingFinal.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h2 class="card-title">Education and Career Guidance (ECG) Counselling</h2>
                          <p class="card-text">Book a slot to speak with our ECG Counsellors for guidance on your career interests.</p>
                      </div>
                      <div class="bg-light">
                        <a href="{% url 'booking2' %}" class="btn btn-danger register_btn">ENTER</a>
                      </div>
                  </div>
                  <!-- Card -->
               </div>
                <div class="col-md-3 d-flex align-items-stretch">
                  <!-- Card -->
                  <div class="card">
                      <img class="card-img-top img-fluid" src="/media/webinar/CourseCounsellingFinal.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h2 class="card-title">Admissions Enquiries</h2>
                          <p class="card-text">Have your questions answered by our Admission Officers.</p>
                      </div>
                      <div class="bg-light">
                        <a href="{% url 'booking5' %}" class="btn btn-danger register_btn">ENTER</a>
                      </div>
                  </div>
                  <!-- Card -->
               </div>
                <div class="col-md-3 d-flex align-items-stretch">
                  <!-- Card -->
                  <div class="card">
                      <img class="card-img-top img-fluid" src="/media/webinar/ShowsSeminarsFinal.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h2 class="card-title">Polytechnic Foundation Programme (PFP)</h2>
                          <p class="card-text">Have your question answered by our Academic Staff on PFP matters.</p>
                          <!-- <ul>
                            <li>Engineering Show</li>
                            <li>Polytechnic Foundation Programme (PFP) Seminar</li>
                            <li>The MAD MAD Show by students from the Media, Arts and Design School</li>
                          </ul> -->
                      </div>
                      <div class="bg-light">
                        <a href="{% url 'booking6' %}" class="btn btn-danger register_btn">ENTER</a>
                      </div>
                  </div>
                  <!-- Card -->
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <br>
        <a class="bt-top btn btn-circle btn-lg btn-danger" href="#top"><i class="ti-arrow-up"></i></a>
	      {% include 'partials/_footer.html' %}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->

  </div>
  <!-- ============================================================== -->
  <!-- End Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
{% endblock %}

{% block page_scripts %}
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jQuery for carousel -->
    <script src="{% static 'assets/owl.carousel/owl.carousel.min.js' %}"></script>
    <!--Custom JavaScript MOVE IT -->
    <script src="{% static 'app/js/custom.js' %}"></script>
    <!-- Page related UI handlers -->
    <script src="{% static 'app/js/sp-events.js' %}"></script>
{% endblock %}

<!--
        <iframe src="https://app.acuityscheduling.com/schedule.php?owner=20980705" title="Schedule Appointment" width="100%" height="800" frameBorder="0">
        </iframe><script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>
-->