To: Undisclosed Recipients <schoolrelations@sp.edu.sg>
Bcc: leoneil@mybuildtec.biz, sham@onedash22.com, jason@onedash22.com, jaselpoh.onedash22@gmail.com
Subject: Singapore Polytechnic Open House 2021 – Media, Arts and Design (Additional Q&A Breakout Sessions)
MIME-Version: 1.0
Content-Type: text/html

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Singapore Polytechnic Webinar</title>
    <script src="{{ domain }}/static/icons/font-awesome/fa-fonts.js"></script>
</head>

<body style="margin: 0; padding: 0;">

    <div style="padding: 10px 0 30px 0;font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">

        Hello again!,
        <br>
        <br>
        Thank you for registering for Singapore Polytechnic (SP) Open House’s Media, Arts and Design Info Session. 
        <br>
        <br>
        You have selected to attend the Info Session for Media, Arts and Design on 9th January 2021 at 10:00 AM.
        <br>
        Here is the link again: 
        <br>
        <br>
        <b>9th January 2021, 10:00 AM</b>
        <br>
        https://vimeo.com/484833201/a85f755bf4
        <br>
        <br>
        We would like to inform you of two <b>additional</b> Q&A Breakout Sessions that you may like to attend after the Info Session:
        <br>
        <br>
        <b>ADDITIONAL MEDIA, ARTS AND DESIGN Q&A BREAKOUT SESSION </b>
        <br>
        <br>
        <b>General DMAD Enquiries | 9th January 2021</b> :
        <br>
        https://us02web.zoom.us/j/85246733082
        <br>
        <br>
        <b>Foundation Programme | 9th January 2021</b> :
        <br>
        https://us02web.zoom.us/j/81598467219
        <br>
        <br>
        Our experienced academic staff will be able to answer any question that you may have regarding the Diploma in Media, Arts and Design (DMAD) course or the foundation programme offered by the school during these two new Q&A breakout sessions. 
        <br>
        <br>
        Please make sure that you have signed up for a Zoom account before the session. 
        <br>
        <br>
        Warm regards,
        <br>
        <br>
        <hr>
        SP Open House 2021 Organising Committee
        <br>
        <a href="https://www.sp.edu.sg">https://www.sp.edu.sg</a>
        | <img src="https://spoh21registration.com/media/web-defaults/facebook-icon_16x16.png" alt="Facebook Icon" /><a
            href="https://www.facebook.com/singaporepolytechnic">&nbsp;<b>SingaporePolytechnic</b></a>
        | <img src="https://spoh21registration.com/media/web-defaults/twitter-icon_16x16.png" alt="Twitter Icon" /><a
            href="https://twitter.com/SingaporePoly">&nbsp;<b>@singaporepoly</b></a>
        | <img src="https://spoh21registration.com/media/web-defaults/instagram-icon_16x16.png" alt="Instagram Icon" /><a
            href="https://www.instagram.com/singaporepoly">&nbsp;<b>@singaporepoly</b></a>
    </div>


</body>

</html>