
{% extends 'partials/_base.html' %}

{% load static %}

{% block page_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
  <link href="{% static 'app/css/style2.css' %}" rel="stylesheet" />
  <style>
    .container-fluid {
        padding: 0 15px 0 15px;
    }

    .topheader {
        padding: 0px 0px;
        background: #ffffff;
    }

    .fix-width {
        width: 100%;
        max-width: 1600px;
        padding: 0 10px !important;
        margin: 0 15px !important;
    }

    .text-shadow {
    text-shadow: 2px 2px 2px #000000;
    }

    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: #ea1331;
        color: #fff;
        text-align: center;
        padding: 0.3em;
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
        background: #ea1331;
        text-align: center;
        color: #fff;
        padding: 10px;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: #ea1331;
        color: #fff;
    }

    .btn-success {
        color: #fff;
        background-color: #ea1331 !important;
        border-color: #ea1331 !important;
    }

    .btn-success, .btn-success:hover {
        background:#ea1331;
        border: 1px solid #ea1331;
    }

    .btn-success, .btn-success.disabled {
        background:#d37082;
        border: 1px solid #d37082;
    }

    .btn-inverse, .btn-inverse.disabled {
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
    }

  </style>
{% endblock %}

{% block content %}

<!-- <body class="fix-header"> -->
  
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <!-- ============================================================== -->
  <!-- End Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    {% include 'partials/_topbar.html' %}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
            <div class="row mb-3">
              <div class="col-md-12">
                  <img src="/media/web-defaults/banner.jpg" height="100%" width="100%" alt="First slide">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h2>
                  Welcome to <span class="text-danger">SP Open House's</span> <span class="text-warning"><u>COURSE COUNSELLING, ADMISSIONS, SCHOLARSHIPS & FINANCIAL MATTERS and CONTINUING EDUCATION & TRAINING Appointment</u></span> page.
                </h2>
                <p>
                  Book a spot for a one-on-one chat with our academic staff to have your questions about our courses answered. Our staff will also be on hand to answer any question regarding admissions and programmes for adult learners.
                </p>
              </div>
            </div>

            <hr>
            <!-- ROW Cards -->
            <div class="row">
                {% for school in schools%}
                <div class="col-md-3 mb-4 align-items-stretch">
                  <div class="card h-100 text-white border-1">
                      <div class="card-header bg-dark">
                          <div class="d-flex no-block align-items-center">
                              <div>
                                  <h3 class="mb-0 text-white">{{ school }}</h3>
                              </div>
                              <div class="ml-auto">
                                  <span class="display-7"><i class="ti-headphone-alt"></i></span>
                              </div>
                          </div>
                      </div>
                      <div class="card-body bg-light">
                          <p class="card-text"><span class="text-dark"> {{ school.phone }} </span> </p>
                          <p class="card-text"><span class="text-dark"> </span> </p>
                      </div>
                      <div class="bg-light">
                          <!-- <button class="btn btn-danger waves-effect waves-light webinar_btn" data-toggle="modal" data-event-id="{{ event.id }}"
                          data-target="#reg-dialog">REGISTER</button>  -->
                          <a href="{% url 'booking3' school.id %}" class="btn btn-danger waves-effect waves-light mt-1 webinar_btn">BOOKING</a>
                      </div>
                  </div>
              </div>
                <!-- <div class="col-md-3 mb-4">
                    <div class="card text-white border-0">
                        <img class="card-img" src="/media/{{ school.photo }}" alt="Card image">
                        <div class="card-img-overlay text-white">
                            <div class="d-flex no-block align-items-center">
                                <h4 class="font-weight-bold text-white text-shadow">{{ school }}</h4>                                
                            </div>
                        </div>    
                        <a href="{% url 'booking3' school.id %}" class="btn btn-danger waves-effect waves-light mt-1 webinar_btn">BOOKING</a>
                    </div>
                </div> -->
                {% endfor %}
            </div>
            <!-- /ROW Cards -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
  
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <br>
        <a class="bt-top btn btn-circle btn-lg btn-danger" href="#top"><i class="ti-arrow-up"></i></a>
	      {% include 'partials/_footer.html' %}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->


  </div>
  <!-- ============================================================== -->
  <!-- End Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
{% endblock %}

{% block page_scripts %}
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jQuery for carousel -->
    <script src="{% static 'assets/owl.carousel/owl.carousel.min.js' %}"></script>
    <!--Custom JavaScript MOVE IT -->
    <script src="{% static 'app/js/custom.js' %}"></script>
    <!-- Page related UI handlers -->
    <script src="{% static 'app/js/sp-events.js' %}"></script>
    <!-- date & time picker JS  -->
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker-custom.js' %}"></script>

    <script src="{% static 'assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/inputmask/inputmask.extensions.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/inputmask/inputmask.numeric.extensions.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/inputmask/inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/inputmask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/inputmask/inputmask.extensions.js' %}"></script>
    <script src="{% static 'app/js/pages/forms/mask/mask.init.js' %}"></script>
{% endblock %}
